body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#top {
    text-align: center;
    background-color: purple;
    color: white;
    padding: 20px;
}

div {
    margin: 20px;
    padding: 10px;
}